{% extends 'base.html.twig' %}

{% block title %}Categorie : {{ category.name }}  {% endblock %}


{% block body %}

	<div class="example-wrapper">
		<h1>{{ category.name|capitalize }}</h1>
        <a class="btn btn-primary" href="{{ path('admin.category.edit', {id: category.id}) }}" role="button">Editer</a>
        <form action="{{ path('admin.category.delete', {id: category.id}) }}" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
		<div class="card" style="width: 18rem;">
			{# <img src="..." class="card-img-top" alt="..."> #}
            {# <small>{{ category.created_at |date('d/m/Y') }}</small> #}
			<div class="card-body">
                
				<p class="card-text">{{ category.slug  }}</p>
			</div>
		</div>
	</div>
{% endblock %}
